<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Log On</title>

    <link
      href="/Content/themes/Student/Site.css?v=20220129"
      rel="stylesheet/less"
      media="all"
    />

    <link href="/favicon.ico" rel="shortcut icon" />
    <!-- CSS Style-->
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NBKB7Q2"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- -->

    <div class="page">
      <div id="header">
        <!-- <div id="logindisplaybutton">
          <a href="/Account/LogOn">Log On</a>
        </div> -->
      </div>
      <div id="main">
        <div id="errormessage"></div>
        <!-- Tile Style-->
        <link href="static/css/modern.css" rel="stylesheet" type="text/css" />
        <link
          href="/Content/modern-responsive.css"
          rel="stylesheet"
          type="text/css"
        />
        <div class="container">
          <div class="metrouicss text-center" style="margin: 0 auto">
            <div class="metrouicss-container-50">
              <a
                href="https://my.sfbu.edu/Account/Logon?userType=Applicant"
                class="tile image double double-vertical metrouicss-modify"
              >
                <div class="tile-content">
                  <img
                    src="https://my.sfbu.edu/Images/Tiles/applicants.jpg"
                    alt="Applicant"
                  />
                </div>
                <div class="brand bg-color-blue">
                  <p class="text" style="font-size: large; text-align: center">
                    Applicant Portal
                  </p>
                </div> </a
              ><a
                href="https://my.sfbu.edu/Account/Logon?userType=Student"
                class="tile image double double-vertical metrouicss-modify"
              >
                <div class="tile-content">
                  <img
                    src="https://my.sfbu.edu/Images/Tiles/student.jpg"
                    alt="Student"
                  />
                </div>
                <div class="brand bg-color-blue">
                  <p class="text" style="font-size: large; text-align: center">
                    Student Portal
                  </p>
                </div>
              </a>
            </div>
            <div class="metrouicss-container-50">
              <a
                href="https://my.sfbu.edu/Account/Logon?userType=Faculty"
                class="tile image double double-vertical metrouicss-modify"
              >
                <div class="tile-content">
                  <img
                    src="https://my.sfbu.edu/Images/Tiles/faculty.jpeg"
                    alt="Faculty"
                  />
                </div>
                <div class="brand bg-color-blue">
                  <p class="text" style="font-size: large; text-align: center">
                    Faculty Portal
                  </p>
                </div> </a
              ><a
                href="/login"
                class="tile image double double-vertical metrouicss-modify"
              >
                <div class="tile-content">
                  <img
                    src="https://rowanliving.files.wordpress.com/2014/02/img_3118.jpg"
                    alt="Alumni"
                  />
                </div>
                <div class="brand bg-color-blue">
                  <p class="text" style="font-size: large; text-align: center">
                    Housing Portal
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="footer">
        &copy;2024 San Francisco Bay University. All rights reserved.&nbsp;OSCII
        V1.0.7.1
        <span id="loadingtime"></span>
      </div>
    </div>
  </body>
</html>
