<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success Popup</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>
  <body>
    <script>
      // Show SweetAlert success popup
      swal("Success!", "Hall residence saved successfully!", "success").then(
        (value) => {
          // Redirect or perform any other action after the user clicks OK
          //   window.location.href = "/"; // Redirect to home page
        }
      );
    </script>
  </body>
</html>
